<div class="col-sm-8 col-sm-offset-2">

	<form  [formGroup]="userForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="firstName">Prénom</label>
			<input type="text" name="firstName" id="firstName" class="form-control" formControlName="firstName"  />
		</div>
		<div class="form-group">
			<label for="lastName">Nom</label>
			<input type="text" name="lastName" id="lastName" class="form-control" formControlName="lastName"  />
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="text" name="email" id="email" class="form-control" formControlName="email"  />
		</div>
		<div class="form-group">
			<label for="status">Quelle boisson vous préférez :</label>
			<select name="drinkPreference" id ="drinkPreference" class="form-control" formControlName="drinkPreference" >
				<option value="Beer">Biere</option>
				<option value="Coffee">Café</option>
				<option value="Coca">Coca</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Ajouter utilisateur</button>
	</form>

</div>
