<div class="navbar navbar-default">
	<div class="container-fluid">
		
		<ul class="nav navbar-nav">
			<li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
			<li routerLinkActive="active"><a routerLink="appareils">Appareils</a></li>
			<li routerLinkActive="active"><a routerLink="addAppareil">Ajouter Appareil</a></li>
			<li routerLinkActive="active"><a routerLink="users">Utilisateurs</a></li>
			<li routerLinkActive="active"><a routerLink="addUser">Ajouter Utilisateur</a></li>
			<li routerLinkActive="active"><a routerLink="produits">Produits</a></li>
			<li routerLinkActive="active"><a routerLink="addProduit">Ajouter produit</a></li>
		</ul>
	</div>

</div>

<router-outlet></router-outlet>
